.dropdown {
  position: relative;
  width: 400px;
  padding: 20px;
  border: 1px solid black;
}
.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  /* width: 100%; */
  padding: 20px;
  text-align: centr;
  color: white;
  background-color: teal;
  width: 400px;
}
